
#remoteVideos {
    padding-left: 10px;
    background-color: #aaa;
    height:200px;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
.nopadding-columns {
    padding: 0 !important;
}


#chatMessage {
    opacity: 1;
}


.chat-mess-container {
    border: 2px solid #52a2cb;
    border-radius: 5px;
    background: none repeat scroll 0 0 #fff;
    padding-top: 0px;
    padding-left: 5px;
}

.chat-pointer-right:after {
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.2);
    right: 9px;
    top: 5px;
}
.chat-pointer:after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    border: 2px solid #52a2cb;
}
.chat-pointer-left, .chat-pointer-right {
    height: 34px;
}
.chat-pointer-right {
    right: 3px;
    width: 14px;
    top: 10px;
}
.chat-pointer {
    overflow: hidden;
    position: absolute;
}


.chat-pointer-left {
    left: 3px;
    width: 14px;
    top: 10px;
}
.chat-pointer-left:after {
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.2);
    left: 8px;
    top: 5px;
}

#chatContainer {
    /*padding-top: 200px !important;*/
    /*overflow-y: scroll;*/
    margin-top: 220px;

}

.navbar {
    z-index: 9000;
    margin-left: 50px;
    padding-bottom: 7px;
}

.site-footer {
    position: fixed;
    bottom: 100px;
}

.sidebar-closed .navbar {
    margin-left: 0px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#main-content {
    margin-left: 50px;
}

#sidebar {
    width: 50px;
    font-size: 25px;
}