<template name="layout">
  <section id="container">
    <header class="header black-bg">
        <a href="#" class="logo"><b>TRACK ROOM</b></a>
        <div class='header-link'>
          <p class='text-center header-link'>Link to this room is:</p>
          <p class="text-center header-link"><a href="#" id="linktoroom" class='text-center'></a></p>
          <p class="text-center header-link">Share room link to invite more users</p>
          <div id='socials' class='pull-right'>
            <a href="http://twitter.com/home?status=Join me in video-chat room @STARTREKchat" title="Share on Twitter" target="_blank" class="btn btn-twitter">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Join me in video-chat room @STARTREKchat" data-count="none">
              <i class="fa fa-microphone"></i>
            </a>
            
          </div>
        </div>
    </header>
  </section>
   {{> leftSidebar }}

  <section id="main-content" class='container-fluid'>
    {{> yield}}
  </section>

</template>
