<template name="roomView">
  <section class="wrapper">
    {{> videoList }}
    {{> messagesList}}
  </section>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="row">
      <form>
        <div class="col-lg-3 col-md-3 col-xs-3">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Please enter your nane">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3">
          <div class="form-group">
              <select name="language" class="form-control">
                  <option value="en">English</option>
                  <option value="es">Spanish</option>
                  <option value="ru">Russian</option>
              </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-1">
          <input type="text" class="form-control" name="message" id="message">
        </div>
        <div class="col-lg-1 col-md-2 col-xs-5">
          <button type="submit" class="btn btn-info top-button">Submit</button>
        </div>
      </form>
    </div>
  </nav>
  
</template>
