<template name="roomView">
  {{> videoList }}
  {{> messagesList}}
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    {{> myVideo }}
    <form>
      <div class="row">
        <div class="col-md-2">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Please enter your nane">
            </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <label>Language:</label>
              <select name="language" class="form-control">
                  <option value="en">English</option>
                  <option value="es">Spanish</option>
                  <option value="ru">Russian</option>
              </select>
          </div>
        </div>
        <div class="col-md-8">
          <label class="form-label">Write message:</label>
          <input type="text" class="form-control" name="message" id="message">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-left">
          <button type="submit" class="btn btn-info top-button">Submit</button>
        </div>
      </div>
    </form>
  </nav>
</template>
