<template name="leftSidebar">
  <aside class="left-sidebar">
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu text-center" id="nav-accordion">

            <li>
              <a class="toggleMic"><i class="fa fa-microphone"></i></a>
            </li>
            <li>
              <a class="toggleSpeechRecognize"><i class="fa fa-language"></i></a>
            </li>
            <li>
              <a class="toggleVideo"><i class="fa fa-video-camera"></i></a>
            </li>

        </ul>
    </div>
  </aside>
</template>